<link rel="stylesheet" href="css/account/login.css" />
<body>
  <div class="spacing"></div>
  <div class="register_container_wrapper">
    <div class="spacing"></div>
    <div class="register_container">
        <div class="spacing"></div>
      <!-- Logo, đường kẻ và tên -->
      <img src="img/icon/logo.png" />
      <a href="/" class="logo_text">KnuxCoin</a>
      <hr />
      <!-- Form và các nút -->
      <div class="register_form_wrapper">
        <div class="spacing"></div>
        <form
          class="register_form"
          action=""
          enctype="multipart/form-data"
          role="form"
          method="POST"
        >
          <!-- Các ô trống -->
          <div class="register_fields">
            <div class="text_box_container">
              <div class="text_box_label">Username</div>
              <input
                type="text"
                name="full_name"
                class="register_upper_boxes"
                required
              />
            </div>
            <div class="text_box_container">
              <div class="text_box_label">Password</div>
              <div class="text_box_label_spacing_a"></div>
              <input
                type="password"
                name="mail"
                class="register_upper_boxes"
                required
              />
            </div>
          <div class="random_spacing_top"></div>
          <hr />
          <div class="register_buttons">
            <!-- hai nút dưới -->
            <a href="/register" class="login">Register</a>
            <button type="submit" class="register">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="spacing"></div>
    </div>
    <div class="spacing"></div>
  </div>
  <div class="spacing"></div>
</body>