<div class="login_body">
  <div class="login_spacing"></div>
  <div class="login_container_wrapper">
    <div class="login_spacing"></div>
    <div class="login_container">
      <div class="login_spacing"></div>
      <!-- Logo, đường kẻ và tên -->
      <img src="/images/icon/logo.png" width="55" height="55" />
      <a href="/" class="login_logo_text">KnuxCoin</a>
      <hr />
      <!-- Form và các nút -->
      <div class="login_form_wrapper">
        <div class="login_spacing"></div>
        <form class="login_form" action="/login" method="post">
          <!-- Các ô trống -->
          <div class="login_fields">
            <div class="login_text_box_container">
              <div class="login_text_box_label">Username</div>
              <input type="text" name="username" class="login_upper_boxes" required />
            </div>
            <div class="login_text_box_container">
              <div class="login_text_box_label">Password</div>
              <div class="login_text_box_label_spacing_a"></div>
              <input type="password" name="password" class="login_upper_boxes" required />
            </div>
            {{#if error}}
            <div class="form-group">
              <div class="alert alert-danger " role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{error}}
              </div>
            </div>
            {{/if}}
            <div class="login_random_spacing_top"></div>
            <hr />
            <div class="login_buttons">
              <!-- hai nút dưới -->

              <button type="submit" value="login" class="btn btn-warning">Login</button>
              <br>
              <span>Don't have an account?<a href="/register" class="btn btn-secondary">Register</a></span>
            </div>
        </form>
      </div>
    </div>
    <div class="login_spacing"></div>
  </div>
  <div class="login_spacing"></div>
</div>
<div class="login_spacing"></div>
</div>