<div class="login_body">
  <div class="login_spacing"></div>
  <div class="login_container_wrapper">
    <div class="login_spacing"></div>
    <div class="login_container">
      <div class="login_spacing"></div>
      <!-- Logo, đường kẻ và tên -->
      <img src="/images/icon/logo.png" width="55" height="55" />
      <a href="/" class="login_logo_text">KnuxCoin</a>
      <hr />
      <!-- Form và các nút -->
      <div class="login_form_wrapper">
        <div class="login_spacing"></div>
        <form class="login_form" action="/password" method="post">
          <!-- Các ô trống -->
          <div class="login_fields">
            <div class="login_text_box_container">
              <div class="login_text_box_label">Old password</div>
              <input type="text" name="old_password" class="login_upper_boxes" required />
            </div>
            <div class="login_text_box_container">
              <div class="login_text_box_label">New password</div>
              <input type="text" name="new_password" class="login_upper_boxes" required />
            </div>
            <div class="login_text_box_container">
              <div class="login_text_box_label">Enter password again</div>
              <div class="login_text_box_label_spacing_a"></div>
              <input type="password" name="verify_new_password" class="login_upper_boxes" required />
            </div>
            <div class="login_random_spacing_top"></div>
            <hr />
            <div class="login_buttons">
              <!-- hai nút dưới -->
              <button type="submit" value="login" class="login_login">Change Password</button>
            </div>
        </form>
      </div>
    </div>
    <div class="login_spacing"></div>
  </div>
  <div class="login_spacing"></div>
</div>
<div class="login_spacing"></div>
</div>