<link rel="stylesheet" href="css/style.css" />
<div class="register_body">
  <div class="register_spacing"></div>
  <div class="register_container_wrapper">
    <div class="register_spacing"></div>
    <div class="register_container">
      <!-- Logo, đường kẻ và tên -->
      <div class="register_spacing"></div>
      <img src="img/icon/logo.png" width="55" height="55" />
      <a href="/" class="register_logo_text">KnuxCoin</a>
      <hr class="register_hr" />
      <!-- Form và các nút -->
      <div class="register_form_wrapper">
        <div class="register_spacing"></div>
        <form
          class="register_form"
          action="/register"
          enctype="multipart/form-data"
          role="form"
          method="POST"
        >
          <!-- Các ô trống -->
          <div class="register_fields">
            <div class="register_text_box_container">
              <div class="register_text_box_label">full name</div>
              <input
                type="text"
                name="full_name"
                class="register_upper_boxes"
                required
              />
            </div>
            <div class="register_text_box_container">
              <div class="register_text_box_label">E-mail</div>
              <div class="register_text_box_label_spacing_a"></div>
              <input
                type="text"
                name="mail"
                class="register_upper_boxes"
                required
              />
            </div>
            <div class="register_text_box_container">
              <div class="register_text_box_label">Address</div>
              <div class="register_text_box_label_spacing_b"></div>
              <input
                type="text"
                name="address"
                class="register_upper_boxes"
                required
              />
            </div>
            <div class="register_text_box_container">
              <div class="register_text_box_label">Date of Birth</div>
              <input
                type="date"
                name="birthday"
                class="register_upper_boxes"
                required
              />
            </div>
            <div class="register_text_box_container">
              <div class="register_text_box_label">ID Picture (Upper side)</div>
              <input
                type="file"
                name="id_photo_sidea"
                class="register_upper_boxes"
                accept="image/*"
                required
              />
              <div class="register_text_box_label">ID Picture (Lower side)</div>
              <input
                type="file"
                name="id_photo_sideb"
                class="register_upper_boxes"
                accept="image/*"
                required
              />
            </div>
          </div>
          <div class="register_random_spacing_top"></div>
          <hr />
          <div class="register_buttons">
            <!-- hai nút dưới -->
            <a href="/login" class="register_login">Login</a>
            <button type="submit" class="register_register">Register</button>
          </div>
        </form>
      </div>
      <div class="register_spacing"></div>
    </div>
    <div class="register_spacing"></div>
  </div>
  <div class="register_spacing"></div>
</div>