<link rel="stylesheet" href="/css/index.css" />

<Head>
  <title>KnuxCoin Wallet</title>
  <meta name="description" content="KnuxCoin Wallet" />
  <link rel="icon" href="/img/favicon.ico" />
</Head>
<div class="overall_container">
  <div class="content_container">
    <!-- Thanh Điều Hướng -->
    <div class="nav_cluster">
      <!-- Thanh Nằm bên trên thanh điều hướng chứa logo -->
      <div class="upper_nav">
        <div class="upper_nav_padding_div"></div>
        <a class="upper_nav_logo_button" href="..">
          <div class="upper_nav_logo_container">
            <Image
              class="upper_nav_logo_picture"
              src="/logo.webp"
              width="{55}"
              height="{55}"
            />
            <div class="upper_nav_logo_text">KnuxCoin</div>
          </div>
        </a>
        <div class="upper_nav_padding_div"></div>
      </div>

      <!-- Thanh điều hướng (ở bên dưới cái logo nên gọi là bottom :)) -->
      <div class="bottom_nav">
        <div class="category_container">
          <a key="" class="category_text" href="">About</a>
          <a key="" class="category_text" href="">Support</a>
        </div>
        <div class="bottom_nav_spacing"></div>
        <div class="account_nav_container">
          <a class="account_nav" href="/register">Register</a>
          <a class="account_nav_spacing"> | </a>
          <a class="account_nav" href="/login">Login</a>
          <img src="{{get_image}}" alt="" class="account_nav_pfp" />
        </div>
      </div>
    </div>
  </div>
  <!-- Phần giới thiệu ở giữa màn hình-->
  <div class="intro_cluster">
    <div class="side_intro_padding"> </div>
    <div class="center_content">
      <span class="top_intro_container">
        <div class="top_intro_text">Buy</div>
        |
        <div class="bottom_intro_text">Bye</div>
      </span>
      <div class="middle_intro_text">or</div>
      <span class="bottom_intro_container">
        <div class="top_intro_text">Buy</div>
        |
        <div class="bottom_intro_text">Bye</div>
      </span>
      <div class="intro_center_padding">&#8203;</div>
      <a class="register_button" href="/register">Register Now!</a>
    </div>
    <div class="side_intro_padding"></div>
  </div>
</div>
<!-- Thanh giới thiệu nằm ở cuối trang -->
<footer>
  <div class="footer_text">Knux&Co© 2022</div>
</footer>