<link rel="stylesheet" href="/css/style.css" />

<Head>
  <title>KnuxCoin Wallet</title>
  <meta name="description" content="KnuxCoin Wallet" />
  <link rel="icon" href="/img/icon/logo.png" />
</Head>
<div class="index_overall_container">
  <div class="index_content_container">
    <!-- Thanh Điều Hướng -->
    <div class="index_nav_cluster">
      <!-- Thanh Nằm bên trên thanh điều hướng chứa logo -->
      <div class="index_upper_nav">
        <div class="index_upper_nav_padding_div"></div>
        <a class="index_upper_nav_logo_button" href="..">
          <div class="index_upper_nav_logo_container">
            <Image
              class="index_upper_nav_logo_picture"
              src="/img/icon/logo.png"
              width="80"
              height="80"
            />
            <div class="index_upper_nav_logo_text">KnuxCoin</div>
          </div>
        </a>
        <div class="index_upper_nav_padding_div"></div>
      </div>

      <!-- Thanh điều hướng (ở bên dưới cái logo nên gọi là bottom :)) -->
      <div class="index_bottom_nav">
        <div class="index_category_container">
          <a key="" class="index_category_text" href="">About</a>
          <a key="" class="index_category_text" href="">Support</a>
        </div>
        <div class="index_bottom_nav_spacing"></div>
        <div class="index_account_nav_container">
          <a class="index_account_nav" href="/register">Register</a>
          <a class="index_account_nav_spacing"> | </a>
          <a class="index_account_nav" href="/login">Login</a>
          <img src="{{get_image}}" alt="" class="account_nav_pfp" />
        </div>
      </div>
    </div>
  </div>
  <!-- Phần giới thiệu ở giữa màn hình-->
  <div class="index_intro_cluster">
    <div class="index_side_intro_padding"> </div>
    <div class="index_center_content">
      <span class="index_top_intro_container">
        <div class="index_top_intro_text">Buy</div>
        |
        <div class="index_bottom_intro_text">Bye</div>
      </span>
      <div class="index_middle_intro_text">or</div>
      <span class="index_bottom_intro_container">
        <div class="index_top_intro_text">Buy</div>
        |
        <div class="index_bottom_intro_text">Bye</div>
      </span>
      <div class="index_intro_center_padding">&#8203;</div>
      <a class="index_register_button" href="/register">Register Now!</a>
    </div>
    <div class="index_side_intro_padding"></div>
  </div>
</div>
<!-- Thanh giới thiệu nằm ở cuối trang -->
<div class="index_footer">
  <div class="index_footer_text">Knux&Co© 2022</div>
</div>